<div class="lg:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1"></div>
  <div class="mt-5 flex lg:ml-4 lg:mt-0">
    <span class="hidden sm:block">
      <button data-controller="dark-mode" data-action="click->dark-mode#toggle" class="btn btn-default">Dark Mode</button>
    </span>
  </div>
</div>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Projects</h1>
      <p class="mt-2 text-sm text-gray-normal">Resource monitor for your Ruby on Rails applications.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <% if allowed_to_create_project? %>
        <%= link_to "New project", new_project_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full divide-y divide-gray-300">
          <tbody class="divide-y divide-gray-200">
            <% @projects.each do |project| %>
              <tr>
                <td class="whitespace-nowrap text-2xl font-bold tracking-tight text-gray-normal sm:text-3xl"><%= project.title %></td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8">
                  <%= link_to "Dashboards", project, target: :_top, class: "btn btn-default" %>
                  <%= link_to "Remove", project, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "btn btn-danger" %>
                </td>
              </tr>
              <tr>
                <td colspan=2>
                  <%= turbo_frame_tag dom_id(project, "table"),
                    src: project_dashboards_project_table_path(project.token),
                    "data-controller": "refresh",
                    "data-refresh-src-value": project_dashboards_project_table_path(project.token),
                    "data-refresh-interval-value": 60000 %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
