<!DOCTYPE html>
<html class="h-full">
<head>
  <title>Mission control servers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <%= stylesheet_link_tag "mission_control/servers/application", media: "all" %>
  <%= javascript_importmap_tags "application-mcs" %>
</head>
<body class="h-full">
  <div class="m-4">
    <%= yield %>
  </div>
</body>
</html>
